### Introdução às Collections'

In [47]:
idade1 = 39
idade2 = 30
idade3 = 27
idade4 = 18

print(idade1)
print(idade2)
print(idade3)
print(idade4)

39
30
27
18

In [48]:
idades = [39, 30, 27, 18]

In [49]:
type(idades)

list

In [50]:
len(idades)

4

In [51]:
idades[0]

39

In [52]:
idades

[39, 30, 27, 18]

In [53]:
print(idades[1])
print(idades[2])
print(idades[3])

30
27
18

In [54]:
idades.append(15)

In [55]:
idades

[39, 30, 27, 18, 15]

In [56]:
idades[4]

15

In [57]:
idades[5]

IndexError: list index out of range

In [ ]:
for idade in idades:
  print(idade)

39
30
27
18
15

In [ ]:
idades.remove(30)

In [ ]:
idades

[39, 27, 18, 15]

In [ ]:
idades.remove(30)

ValueError: ignored

In [ ]:
idades.append(15)

In [ ]:
idades

[39, 27, 18, 15, 15]

In [ ]:
idades.remove(15)

In [ ]:
idades

[39, 27, 18, 15]

In [ ]:
idades.append(27)
idades.remove(27)
idades

[39, 18, 15, 27]

In [ ]:
28 in idades

False

In [ ]:
15 in idades

True

In [ ]:
if 15 in idades:
  idades.remove(15)

In [ ]:
idades

[39, 18, 27]

In [ ]:
if 28 in idades:
  idades.remove(28)

In [ ]:
idades

[39, 18, 27]

In [ ]:
idades.append(19)
idades

[39, 18, 27, 19]

In [ ]:
idades.insert(0, 20)
idades

[20, 39, 18, 27, 19]

In [ ]:
idades = [20, 39, 18]
idades

[20, 39, 18]

In [ ]:
idades.append([27, 19])

In [ ]:
idades

[20, 39, 18, [27, 19]]

In [ ]:
for elemento in idades:
  print("Recebi o elemento", elemento)

Recebi o elemento 20
Recebi o elemento 39
Recebi o elemento 18
Recebi o elemento [27, 19]

In [ ]:
idades = [20, 39, 18]
idades.extend([27, 19])
idades

[20, 39, 18, 27, 19]

In [ ]:
for idade in idades:
  print(idade + 1)

21
40
19
28
20

In [ ]:
idades_no_ano_que_vem = []
for idade in idades:
  idades_no_ano_que_vem.append(idade+1)
idades_no_ano_que_vem

[21, 40, 19, 28, 20]

In [ ]:
idades_no_ano_que_vem = [idade+1 for idade in idades]
idades_no_ano_que_vem

[21, 40, 19, 28, 20]

In [ ]:
[idade for idade in idades if idade > 21]

[39, 27]

In [ ]:
idades

[20, 39, 18, 27, 19]

In [ ]:
def proximo_ano(idade):
  return idade+1

[proximo_ano(idade) for idade in idades if idade > 21]

[40, 28]

In [ ]:
def faz_processamento_de_visualizacao(lista):
  print(len(lista))
  lista.append(13)

In [ ]:
idades = [16, 21, 29, 56, 43]
faz_processamento_de_visualizacao(idades)
idades

5

[16, 21, 29, 56, 43, 13]

In [ ]:
def faz_processamento_de_visualizacao(lista = []):
  print(len(lista))
  print(lista)
  lista.append(13)

In [ ]:
faz_processamento_de_visualizacao()

0
[]

In [ ]:
faz_processamento_de_visualizacao()

1
[13]

In [ ]:
faz_processamento_de_visualizacao()

2
[13, 13]

In [ ]:
faz_processamento_de_visualizacao()

3
[13, 13, 13]

In [ ]:
def faz_processamento_de_visualizacao(lista = list()):
  print(len(lista))
  print(lista)
  lista.append(13)

In [ ]:
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()

0
[]
1
[13]

In [ ]:
def faz_processamento_de_visualizacao(lista = None):
  if lista == None:
    lista = list()
  print(len(lista))
  print(lista)
  lista.append(13)

In [ ]:
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()

0
[]
0
[]
0
[]
0
[]

### Tuplas

In [ ]:
class ContaCorrente:
    def __init__(self, codigo, saldo = 0):
        self.codigo = codigo
        self.saldo = saldo
    
    def deposita(self, valor):
        self.saldo += valor

    def __str__(self):
        return '[>> Codigo: {} / Saldo: {} <<]'.format(self.codigo, self.saldo)

In [ ]:
conta_do_gui = ContaCorrente('123', 1000)
conta_do_gui.deposita(200)
print(conta_do_gui)

[>> Codigo: 123 / Saldo: 1200 <<]

In [ ]:
conta_da_dani = ContaCorrente('47685')
conta_da_dani.deposita(500)
print(conta_da_dani)

[>> Codigo: 47685 / Saldo: 500 <<]

In [ ]:
contas = [conta_do_gui, conta_da_dani]
print(contas)

[<__main__.ContaCorrente object at 0x000002800278C260>, <__main__.ContaCorrente object at 0x00000280037C30E0>]

- Perceba que o print, quando aplicado à lista, não retorna o método __str__ dos objetos, mas sim os endereços correspondentes na memória. Isso nos mostra essencialmente que temos dois objetos armazenados em locais distintos.

- Para obter o retorno do método __str__ desejado, precisamos iterar sobre os elementos (nesse caso, os objetos) da lista

In [ ]:
for conta in contas:
    print(conta)

[>> Codigo: 123 / Saldo: 1200 <<]
[>> Codigo: 47685 / Saldo: 500 <<]

In [ ]:
# agora tanto a conta do gui quanto a conta da dani possuem duas referências distintas (mas o objeto é o mesmo; não há geração de novas instâncias)
print(contas[0])
print(conta_do_gui)

[>> Codigo: 123 / Saldo: 1200 <<]
[>> Codigo: 123 / Saldo: 1200 <<]

In [ ]:
def deposita_para_todas(contas):
    for conta in contas:
        conta.deposita(100)

print(contas[0], contas[1])
deposita_para_todas(contas)
print(contas[0], contas[1])

[>> Codigo: 123 / Saldo: 1200 <<] [>> Codigo: 47685 / Saldo: 500 <<]
[>> Codigo: 123 / Saldo: 1300 <<] [>> Codigo: 47685 / Saldo: 600 <<]

- Até agora estamos utilizando listas com elementos de um mesmo tipo. Normalmente esse procedimento é, de fato, o usual, e representa a maneira padrão de trabalho com as listas. Mas suponha que alguém definisse que agora o primeiro elemento da lista deve corresponder ao número da Agência.

In [ ]:
contas.insert(0, 76) # agência de número 76
for element in contas:
    print(element, end=' ')

76 [>> Codigo: 123 / Saldo: 1300 <<] [>> Codigo: 47685 / Saldo: 600 <<]

In [ ]:
# agora a função que definimos anteriormente não vai funcionar em sua totalidade, pois agora nem todos os elementos da lista são do tipo conta (hipótese que assumimos verdadeira quando definimos a função)

print(contas[0], contas[1], contas[2])
deposita_para_todas(contas)
print(contas[0], contas[1], contas[2])

76 [>> Codigo: 123 / Saldo: 1300 <<] [>> Codigo: 47685 / Saldo: 600 <<]

AttributeError: 'int' object has no attribute 'deposita'

In [ ]:
print(type(contas[1]))

<class '__main__.ContaCorrente'>

In [ ]:
def deposita_para_todas(contas):
    for conta in contas:
        if type(conta) == ContaCorrente:
            conta.deposita(100)

print(contas[0], contas[1], contas[2])
deposita_para_todas(contas)
print(contas[0], contas[1], contas[2])

76 [>> Codigo: 123 / Saldo: 1300 <<] [>> Codigo: 47685 / Saldo: 600 <<]
76 [>> Codigo: 123 / Saldo: 1400 <<] [>> Codigo: 47685 / Saldo: 700 <<]

- Mas a ideia aqui é a seguinte: quando queremos definir uma lista de elementos em que cada posição representa uma característica / propriedade diferente, a lista deixa de ser o objeto mais interessante para se trabalhar, pois além de gerar ambiguidades de tratamento, ainda tem o adicional de ser *mutável*. Nesses casos, o ideal é trabalhar com ***tuplas***

In [ ]:
conta_do_gui = (76, '123', 1000)
conta_da_dani = (76, '47685', 200)

print(conta_do_gui)
print(conta_da_dani)

(76, '123', 1000)
(76, '47685', 200)

- A 'desvantagem' disso (mas essa conclusão precisa ser avaliada caso a caso, pois realmente há situações em que trabalhar com tuplas pode ser mais interessante) é que as tuplas não são mutáveis.

- Enquanto a manipulação das listas nos leva para uma abordagem OO (Orientação a Objetos), a manipulação das tuplas nos leva para uma abordagem funcional / procedural.

In [ ]:
# exemplo de função responsável por atualizar a conta definida via tupla
def deposita(conta):
    novo_saldo = conta[2]+100
    codigo = conta[1]
    return (76, codigo, novo_saldo)

print(conta_do_gui)
conta_do_gui = deposita(conta_do_gui) # redefine a tupla do zero;
print(conta_do_gui)

(76, '123', 1100)
(76, '123', 1200)

- Podemos ter listas de tuplas e tuplas de listas/objetos (esse último não é muito comum de ser usado, mas pode existir também)

### Polimorfismo e Arrays

In [ ]:
class Conta:
    def __init__(self, codigo, saldo = 0):
        self._codigo = codigo
        self._saldo = saldo
    
    def deposita(self, valor):
        self._saldo += valor

    def __str__(self):
        return '[>> Codigo: {} / Saldo: {} <<]'.format(self._codigo, self._saldo)
    
class ContaCorrente(Conta):
    def passa_o_mes(self):
        self._saldo -= 2

class ContaPoupanca(Conta):
    def passa_o_mes(self):
        self._saldo += self._saldo*0.01
        self._saldo -= 3

In [ ]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta16.passa_o_mes()
print(conta16)

[>> Codigo: 16 / Saldo: 998 <<]

In [ ]:
conta17 = ContaPoupanca(17)
conta17.deposita(1000)
conta17.passa_o_mes()
print(conta17)

[>> Codigo: 17 / Saldo: 1007.0 <<]

In [ ]:
## Ao definir uma lista de objetos contas, podemos chamar o mesmo método para o index
# Ou seja, apesar de o index que percorre a lista de objetos "ser variável" e representar um objeto diferente a cada etapa da iteração, uma vez que todos tenham o método d interesse não há nenhum problema! (duck typing)

contas = [conta16, conta17]
for conta in contas:
    conta.passa_o_mes()
    print(conta)

[>> Codigo: 16 / Saldo: 996 <<]
[>> Codigo: 17 / Saldo: 1014.07 <<]

- arrays e numpy
    - O python até possui um tipo específico de dados denominado 'array' (o módulo precisa ser importado), entretanto, sempre que há necessidade de efetuar tratamentos/ processamentos numéricos mais robustos é muito mais comum utilizar as ferramentas do numpy
    - O array otimiza o processamento interno para lidar com cálculos

In [ ]:
import numpy as np 

vec1 = np.array([1,2,3.5,4.3])
vec1

array([1. , 2. , 3.5, 4.3])

In [ ]:
print(vec1+1)

[2.  3.  4.5 5.3]

- Breves comentários sobre as funções abstratas

In [ ]:
class ContaInvestimento(Conta):
    pass

teste = ContaInvestimento(4)
teste.passa_o_mes()

AttributeError: 'ContaInvestimento' object has no attribute 'passa_o_mes'

- Caso quiséssemos que todas as contas derivadas da superclasse Conta tivessem, obrigatoriamente, o método 'passa_o_mes', poderíamos definí-la utilizando o módulo de ABC collections do python (Abstract Base Classes)

In [ ]:
from abc import ABCMeta, abstractmethod

class Conta(metaclass= ABCMeta):
    def __init__(self, codigo, saldo = 0):
        self._codigo = codigo
        self._saldo = saldo
    
    def deposita(self, valor):
        self._saldo += valor

    def __str__(self):
        return '[>> Codigo: {} / Saldo: {} <<]'.format(self._codigo, self._saldo)

    @abstractmethod
    def passa_o_mes(self):
        pass 

class ContaCorrente(Conta):
    def passa_o_mes(self):
        self._saldo -= 2

class ContaPoupanca(Conta):
    def passa_o_mes(self):
        self._saldo += self._saldo*0.01
        self._saldo -= 3
    
class ContaInvestimento(Conta):
    pass

In [ ]:
teste =ContaInvestimento(10)

TypeError: Can't instantiate abstract class ContaInvestimento without an implementation for abstract method 'passa_o_mes'

### Igualdades

In [ ]:
class ContaSalario: 
  def __init__(self, codigo, saldo = 0):
    self._codigo = codigo
    self._saldo = saldo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [ ]:
conta1 = ContaSalario(10)
conta2 = ContaSalario(10)

conta1 == conta2

False

In [ ]:
teste = [conta1]
conta1 in teste

True

In [ ]:
conta2 in teste

False

In [ ]:
print(id(conta1))
print(id(conta2))

2846465451136
2846465449504

- Apesar das similaridades (mesmos valores / parâmetros), *conta1* e *conta2* são objetos distintos, e estão alocados em lugares diferentes na memória do computador. Por default, sempre que tentamos comparar a igualdade entre objetos o python verifica seus identificadores e, de fato, estes nunca serão iguais.

- Para obter os resultados desejados precisamos "reajustar" o critério de comparação entre objetos da classe com a implementação do método __eq__

In [28]:
class ContaSalario: 
  def __init__(self, codigo, saldo = 0):
    self._codigo = codigo
    self._saldo = saldo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>Codigo {} / Saldo {}<<]".format(self._codigo, self._saldo)
    
  def __eq__(self, outro_objeto):
    if type(outro_objeto) == ContaSalario:
      if self._saldo == outro_objeto._saldo:
        return True
      else:
        return False
    else:
      raise TypeError('Você está tentando comparar objetos de classes diferentes')

In [30]:
conta1 = ContaSalario(10)
conta2 = ContaSalario(10)

print(conta1)
print(conta2)

conta1 == conta2

[>>Codigo 10 / Saldo 0<<]
[>>Codigo 10 / Saldo 0<<]

True

In [24]:
conta1 != conta2 # funciona como uma negação do __eq__

False

In [25]:
contas = [conta1] 
conta2 in contas

# Retorna True porque conta1 está na lista, e como AGORA ambas são iguais.. acabamos recebendo True por consequência

True

In [31]:
teste = [1,2,3]

teste == conta1

TypeError: Você está tentando comparar objetos de classes diferentes

### Outros tipos de funções built-in

In [54]:
lista = [15, 24, 35, 63, 91, 31, 77]

# se quiséssemos verificar os elementos e as suas posições correspondentes, poderíamos fazer da seguinte forma
for i in range(len(lista)):
    print(i, lista[i])

0 15
1 24
2 35
3 63
4 91
5 31
6 77

- Poderíamos pensar que esse tipo de processamento deve ser bastante comum entre os desenvolvedores, então já deve ter alguma função built-in desenvolvida para tratar esses tipos de casos. E realmente! Já existe uma função com essa propriedade e o seu nome é 'enumerate'

In [33]:
enumerate(lista) #lazy..

- Ainda não podemos ver nada porque essa operação em python é uma operação do tipo 'lazy', ou seja, o comando só será executato, isto é, a sequência iterável referente ao objeto lista só será gerada quando for estritamente necessário (na grande maioria dos casos, quando precisamos fazer a iteração propriamente dita).

- Entretanto, é possível 'forçar' a geração da sequência ao aplicar a função 'list' ao objeto iterável (enumerate)

In [34]:
list(enumerate(lista))

[(0, 15), (1, 24), (2, 35), (3, 63), (4, 91), (5, 31), (6, 77)]

- O iterável 'range' também é definido de forma 'lazy'

In [38]:
print(range(len(lista))) # lazy
print(list(range(len(lista)))) # forçando a abertura da sequência

range(0, 7)
[0, 1, 2, 3, 4, 5, 6]

In [39]:
# utilizando o enumerate para tomar posição + elemento, conforme queríamos inicialmente:
for item in enumerate(lista):
    print(item)

# (lista de tuplas)

(0, 15)
(1, 24)
(2, 35)
(3, 63)
(4, 91)
(5, 31)
(6, 77)

In [41]:
# podemos, ainda, fazer o 'unpack' dos elementos de cada tupla implementando a seguinte sintaxe:
for indice, elemento in enumerate(lista):
    print(str(indice)+' x '+str(elemento))

0 x 15
1 x 24
2 x 35
3 x 63
4 x 91
5 x 31
6 x 77

- entendendo melhor o *desempacotamento de tuplas*

In [45]:
tupla_teste = [
    ('Lucas', 22, 2001)
    ,('Joana', 10, 2013)
    ,('João', 30, 1993)
]

# conforme apresentado, é possível fazer o unpack de todos os elementos
for nome, idade, data_nascimento in tupla_teste:
    print(nome, idade, data_nascimento)

print(' - x - ')

# podemos fazer o unpack de todos os elementos, mas não somos obrigados a utilizar todos eles
for nome, idade, data_nascimento in tupla_teste:
    print(nome)

print(' - x - ')

# caso realmente não seja de nosso interesse saber as características / propriedades de todos os elementos, podemos fazer o unpack sem definir as variáveis que não interessam, por exemplo:
for nome, _, _ in tupla_teste:
    print(nome)

# o único ponto de atenção ao se utilizar essa sintaxe se refere ao fato de que, mesmo não utilizando todos os itens do unpack, precisamos especificar exatamente quantos elementos estão sendo emitidos, do contrário o códgo nos retornará um erro
for nome, _ in tupla_teste:
    print(nome)

# (no caso, com essa sintaxe estamos 'sinalizando' para o loop que apenas 2 elementos serão recebidos, mas existem 3 na varíavel tupla_teste)

Lucas 22 2001
Joana 10 2013
João 30 1993
 - x -
Lucas
Joana
João
 - x -
Lucas
Joana
João

ValueError: too many values to unpack (expected 2)

### Ordenamento de sequências

- *Ordenamento natural* dos elementos

In [46]:
lista

[15, 24, 35, 63, 91, 31, 77]

In [47]:
# comando 'sorted' mostra a lista ordenada
sorted(lista)

[15, 24, 31, 35, 63, 77, 91]

In [48]:
# comando 'reverse' mostra os elementos da lista de trás pra frente, mas é um 'iterador lazy' (ou seja, se quisermos ver o resultado, precisamos forçar a emissão)
print(reversed(lista))
print(list(reversed(lista)))

<list_reverseiterator object at 0x000002569DC05F00>
[77, 31, 91, 63, 35, 24, 15]

In [51]:
# se quiséssemos, portanto, verificar a lista ordenada de trás pra frente, poderíamos fazer o seguinte:
print(list(reversed(sorted(lista))))

# ou então aplicar o parâmetro da própria função built-in 'sorted'
print(sorted(lista, reverse=True))

[91, 77, 63, 35, 31, 24, 15]
[91, 77, 63, 35, 31, 24, 15]

In [55]:
# a vantagem desses métodos buil-in é que eles não alteram a lista original
print(lista)

print('- x -')

# mas existem métodos que podem fazer a alteração no objeto inicial (atualização 'in-place'), como por exemplo o método seguinte:
print(lista)
lista.sort()
print(lista)

[15, 24, 35, 63, 91, 31, 77]
- x -
[15, 24, 35, 63, 91, 31, 77]
[15, 24, 31, 35, 63, 77, 91]

- *Ordenamento customizado*

In [57]:
testes = ['Cláudio', 'Ana', 'João', 'Zélia', 'Bernardo', 'flávio']
sorted(testes)

['Ana', 'Bernardo', 'Cláudio', 'João', 'Zélia', 'flávio']

In [58]:
'Ana' < 'Bernardo'

True

- Até mesmo os strings têm um critério de comparação (nesse caso, podemos notar que é feito com base nos caracteres definidos). Entretanto, objetos podem não ter uma forma de comparação associada a eles

In [59]:
conta_1 = ContaSalario(1)
conta_1.deposita(100)

conta_2 = ContaSalario(2)
conta_2.deposita(353)

conta_3 = ContaSalario(5)
conta_3.deposita(632)

contas = [conta_1, conta_2, conta_3]

In [60]:
sorted(contas)

TypeError: '<' not supported between instances of 'ContaSalario' and 'ContaSalario'

In [61]:
conta_2 < conta_3

TypeError: '<' not supported between instances of 'ContaSalario' and 'ContaSalario'

In [64]:
# podemos contornar esse problema com base nos parâmetros da função sorted, impondo que queremos fazer a comparação dos objetos com base no atributo saldo de cada um deles
def extrai_saldo(conta):
    return conta._saldo

for conta in sorted(contas, key=extrai_saldo):
    print(conta)

[>>Codigo 1 / Saldo 100<<]
[>>Codigo 2 / Saldo 353<<]
[>>Codigo 5 / Saldo 632<<]

In [65]:
# mas isso pode gerar certo desconforto devido ao fato de estarmos acessando explícitamente o atributo saldo (que é privado dada a maneira como foi nomeado);
# poderíamos contornar isso utilizando uma função padrão do módulo 'operator'

from operator import attrgetter
for conta in sorted(contas, key=attrgetter('_saldo')):
    print(conta)

[>>Codigo 1 / Saldo 100<<]
[>>Codigo 2 / Saldo 353<<]
[>>Codigo 5 / Saldo 632<<]

In [95]:
# funciona também, mas ainda mantemos a referência ao atríbuto privado _saldo de maneira explícita no código (o que não é bom).
# a melhor maneira de resolvermos isso seria implementando um novo dunder method na definição da nossa classe, de modo que seja possível comparar objetos aplicando os operadores > e <

class ContaSalario: 
  def __init__(self, codigo, saldo = 0):
    self._codigo = codigo
    self._saldo = saldo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>Codigo {} / Saldo {}<<]".format(self._codigo, self._saldo)
    
  def __eq__(self, outro_objeto):
    if type(outro_objeto) == ContaSalario:
      if self._saldo == outro_objeto._saldo:
        return True
      else:
        return False
    else:
      raise TypeError('Você está tentando comparar objetos de classes diferentes')
    
  def __lt__(self, outro_objeto):
      if type(outro_objeto) == ContaSalario:
        if self._saldo < outro_objeto._saldo:
          return True
        else:
          return False
      else:
        raise TypeError('Você está tentando comparar objetos de classes diferentes')

In [96]:
conta_1 = ContaSalario(1)
conta_1.deposita(100)

conta_2 = ContaSalario(2)
conta_2.deposita(353)

conta_3 = ContaSalario(5)
conta_3.deposita(632)

contas = [conta_1, conta_2, conta_3]

In [97]:
for conta in contas:
    print(conta)

[>>Codigo 1 / Saldo 100<<]
[>>Codigo 2 / Saldo 353<<]
[>>Codigo 5 / Saldo 632<<]

In [98]:
conta_2 > conta_3

False

In [102]:
for conta in sorted(contas):
    print(conta)

[>>Codigo 1 / Saldo 100<<]
[>>Codigo 2 / Saldo 353<<]
[>>Codigo 5 / Saldo 632<<]

In [103]:
for conta in sorted(contas, reverse= True):
    print(conta)

[>>Codigo 5 / Saldo 632<<]
[>>Codigo 2 / Saldo 353<<]
[>>Codigo 1 / Saldo 100<<]

- *Ordenamento completo e functools*

In [108]:
conta_1 = ContaSalario(60)
conta_1.deposita(100)

conta_2 = ContaSalario(2)
conta_2.deposita(353)

conta_3 = ContaSalario(5)
conta_3.deposita(100)

contas = [conta_1, conta_2, conta_3]

for conta in contas:
    print(conta)

[>>Codigo 60 / Saldo 100<<]
[>>Codigo 2 / Saldo 353<<]
[>>Codigo 5 / Saldo 100<<]

- Supondo que tivéssemos mais de uma conta com o mesmo saldo, gostaríamos de avaliar também o código da conta antes de emitir quem é maior ou menor. Por exemplo, no caso acima precisaríamos que a conta_3 fosse colocada antes da conta_1, devido à diferença nos códigos

In [109]:
# o que não acontece ainda dada a maneira que implementamos o método __lt__
for conta in sorted(contas):
    print(conta)

[>>Codigo 60 / Saldo 100<<]
[>>Codigo 5 / Saldo 100<<]
[>>Codigo 2 / Saldo 353<<]

In [117]:
# então o que precisamos fazer é, novamente, ajustar o dunder method __lt__

# lembrando que os dunder methods são projetos para aplicarem as funções built-in do python DA MANEIRA QUE QUISERMOS (semelhante às operações com vetores nos espaços vetoriais), e isso nos permite acrescentar ou remover condições de acordo com a necessidade de cada caso

class ContaSalario: 
  def __init__(self, codigo, saldo = 0):
    self._codigo = codigo
    self._saldo = saldo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>Codigo {} / Saldo {}<<]".format(self._codigo, self._saldo)
    
  def __eq__(self, outro_objeto):
    if type(outro_objeto) == ContaSalario:
      if self._saldo == outro_objeto._saldo:
        return True
      else:
        return False
    else:
      raise TypeError('Você está tentando comparar objetos de classes diferentes')
    
  '''
  def __lt__(self, outro_objeto):
      if type(outro_objeto) == ContaSalario:
        if self._saldo < outro_objeto._saldo:
          return True
        elif self._saldo == outro_objeto._saldo:
          if self._codigo < outro_objeto._codigo:
            return True
          else:
            return False
        else:          
          return False
      else:
        raise TypeError('Você está tentando comparar objetos de classes diferentes')  
  '''

  ## Maneira mais eficiente de reescrever o método __lt__ acima
  def __lt__(self, outro_objeto):
    if type(outro_objeto) == ContaSalario:
      if self._saldo != outro_objeto._saldo:
        return True if self._saldo < outro_objeto._saldo else False
      else:
        return True if self._codigo < outro_objeto._codigo else False
    else:
      raise TypeError('Você está tentando comparar objetos de classes diferentes')

In [118]:
conta_1 = ContaSalario(60)
conta_1.deposita(100)

conta_2 = ContaSalario(2)
conta_2.deposita(353)

conta_3 = ContaSalario(5)
conta_3.deposita(100)

contas = [conta_1, conta_2, conta_3]

for conta in contas:
    print(conta)

[>>Codigo 60 / Saldo 100<<]
[>>Codigo 2 / Saldo 353<<]
[>>Codigo 5 / Saldo 100<<]

In [119]:
for conta in sorted(contas):
    print(conta)

[>>Codigo 5 / Saldo 100<<]
[>>Codigo 60 / Saldo 100<<]
[>>Codigo 2 / Saldo 353<<]

In [120]:
# se estivéssemos indo para o método de abordagem procedural, bastaria atualizarmos o parâmetro key da função 'sorted'
# (de novo: essa abordagem não é muito legal nesse caso pelo fato de estarmos expondo os atributos privados no código)

from operator import attrgetter

for conta in sorted(contas, key=attrgetter('_saldo', '_codigo')):
    print(conta)

[>>Codigo 5 / Saldo 100<<]
[>>Codigo 60 / Saldo 100<<]
[>>Codigo 2 / Saldo 353<<]

- Apesar de termos definido separadamente os métodos de comparação de ordem (primeiramente o 'menor' e, como consequência, o 'maior', gerado como negação do 'menor') e de igualdade (primeiramente o 'igual' e, como consequência, o 'maior', gerado como negação do 'igual'), ainda não temos as comparações totais 'maior/menor ou igual'.

In [121]:
conta_1 <= conta_2

TypeError: '<=' not supported between instances of 'ContaSalario' and 'ContaSalario'

In [139]:
# para não precisar ficar implementando tudo do zero, podemos importar uma funcionalidade útil do módulo 'functools'

# para implementar o total_ordering do functools é necessário ter, ao menos, a definição do __lt__ e do __eq__
from functools import total_ordering

@total_ordering
class ContaSalario: 
  def __init__(self, codigo, saldo = 0):
    self._codigo = codigo
    self._saldo = saldo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>Codigo {} / Saldo {}<<]".format(self._codigo, self._saldo)
    
  def __eq__(self, outro_objeto):
    if type(outro_objeto) == ContaSalario:
      if self._saldo != outro_objeto._saldo:
        return False
      else:
        return self._codigo == outro_objeto._codigo
    else:
      raise TypeError('Você está tentando comparar objetos de classes diferentes')

  ## Maneira ainda mais eficiente de reescrever o método __lt__ definido no último bloco de construção da classe
  def __lt__(self, outro_objeto):
    if type(outro_objeto) == ContaSalario:
      if self._saldo != outro_objeto._saldo:
        return self._saldo < outro_objeto._saldo
      else:
        return self._codigo < outro_objeto._codigo
    else:
      raise TypeError('Você está tentando comparar objetos de classes diferentes')

In [140]:
conta_1 = ContaSalario(60)
conta_1.deposita(100)

conta_2 = ContaSalario(2)
conta_2.deposita(353)

conta_3 = ContaSalario(5)
conta_3.deposita(100)

contas = [conta_1, conta_2, conta_3]

for conta in sorted(contas):
    print(conta)

[>>Codigo 5 / Saldo 100<<]
[>>Codigo 60 / Saldo 100<<]
[>>Codigo 2 / Saldo 353<<]

In [141]:
print(conta_1 < conta_2)
print(conta_1 < conta_3)
print(conta_1 > conta_3)
print(conta_3 < conta_1)

True
False
True
True

In [138]:
conta_1 == conta_3

True

In [134]:
print(conta_1 < conta_1)
print(conta_1 == conta_1)
print(conta_1 <= conta_1)

False
True
True