# The GroupBy Object

In [1]:
import pandas as pd

## The Fortune 1000 Dataset
- The **Fortune 1000** is a listing of the 1000 largest American companies as ranked by Fortune magazine.
- The **DataFrame** includes the company's name, sector, industry, and revenues, profits, and employees.

In [13]:
fortune= pd.read_csv('fortune1000.csv', index_col='Rank')
fortune.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 1 to 1000
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Company    1000 non-null   object
 1   Sector     1000 non-null   object
 2   Industry   1000 non-null   object
 3   Revenue    1000 non-null   int64
 4   Profits    1000 non-null   int64
 5   Employees  1000 non-null   int64
dtypes: int64(3), object(3)
memory usage: 54.7+ KB

In [6]:
pd.read_csv('fortune1000.csv').nunique()

Rank         996
Company      996
Sector        21
Industry      73
Revenue      945
Profits      760
Employees    755
dtype: int64

In [14]:

fortune['Sector'] = fortune['Sector'].astype('category')
fortune['Industry'] = fortune['Industry'].astype('category')
fortune.sort_index(inplace= True)
fortune.head()

,Company,Sector,Industry,Revenue,Profits,Employees
Rank,,,,,,
1,Walmart,Retailing,General Merchandisers,482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,181241,1476,70400

In [15]:
fortune.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 1 to 1000
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Company    1000 non-null   object
 1   Sector     1000 non-null   category
 2   Industry   1000 non-null   category
 3   Revenue    1000 non-null   int64
 4   Profits    1000 non-null   int64
 5   Employees  1000 non-null   int64
dtypes: category(2), int64(3), object(1)
memory usage: 44.3+ KB

## The groupby Method
- **Grouping** is a way to organize/categorize/group the data based on a column's values.
- The `groupby` method returns a **DataFrameGroupBy** object. It resembles a group/collection of **DataFrames** in a dictionary-like structure.
- The **DataFrameGroupBy** object can perform aggregate operations on *each* group within it.

In [16]:
fortune= pd.read_csv('fortune1000.csv', index_col='Rank')
fortune['Sector'] = fortune['Sector'].astype('category')
fortune['Industry'] = fortune['Industry'].astype('category')
fortune.sort_index(inplace= True)
fortune.head()

,Company,Sector,Industry,Revenue,Profits,Employees
Rank,,,,,,
1,Walmart,Retailing,General Merchandisers,482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,181241,1476,70400

In [25]:
# sums of revenues for each sector

# we pass as an argument to group by function a string (or list of strings) containing the columns names whose values we want to group
# as a return we get a DataFrameGroupBy object, which actually represents a set of all the possible dataframes with unique individual values of the column (or list of columns) we put as argument
sectors= fortune.groupby('Sector', observed= True) # observed paramater is only importand when we're dealing with categorical columns
sectors
len(sectors) # amount of distinct dataframes

21

In [26]:
sectors.size()

Sector
Aerospace & Defense              20
Apparel                          15
Business Services                51
Chemicals                        30
Energy                          122
Engineering & Construction       26
Financials                      139
Food and Drug Stores             15
Food, Beverages & Tobacco        43
Health Care                      75
Hotels, Resturants & Leisure     25
Household Products               28
Industrials                      46
Materials                        43
Media                            25
Motor Vehicles & Parts           24
Retailing                        80
Technology                      102
Telecommunications               15
Transportation                   36
Wholesalers                      40
dtype: int64

In [28]:
sectors.first().head() # looking to the very first row of each "nested" dataframe inside the DataFrameGroupBy object

,Company,Industry,Revenue,Profits,Employees
Sector,,,,,
Aerospace & Defense,Boeing,Aerospace and Defense,96114,5176,161400
Apparel,Nike,Apparel,30601,3273,62600
Business Services,ManpowerGroup,Temporary Help,19330,419,27000
Chemicals,Dow Chemical,Chemicals,48778,7685,49495
Energy,Exxon Mobil,Petroleum Refining,246204,16150,75600

## Retrieve a Group with the get_group Method
- The `get_group` method on the **DataFrameGroupBy** object retrieves a nested **DataFrame** belonging to a specific group/category.

In [ ]:
fortune= pd.read_csv('fortune1000.csv', index_col='Rank')
fortune['Sector'] = fortune['Sector'].astype('category')
fortune['Industry'] = fortune['Industry'].astype('category')
fortune.sort_index(inplace= True)
fortune.head()

## Methods on the GroupBy Object
- Use square brackets on the **DataFrameGroupBy** object to "extract" a column from the original **DataFrame**.
- The resulting **SeriesGroupBy** object will have aggregation methods available on it.
- Pandas will perform the calculation on *every* group within the collection.
- For example, the `sum` method will sum together the **Revenues** for every row by group/category.

In [ ]:
fortune= pd.read_csv('fortune1000.csv', index_col='Rank')
fortune['Sector'] = fortune['Sector'].astype('category')
fortune['Industry'] = fortune['Industry'].astype('category')
fortune.sort_index(inplace= True)
fortune.head()

## Grouping by Multiple Columns
- Pass a list of columns to the **groupby** method to group by pairings of values across columns.
- Target a column to retrieve the **SeriesGroupBy** object, then perform an aggregation with a method.
- Pandas will return a **MultiIndex** **Series** where the levels will be the original groups.

In [ ]:
fortune= pd.read_csv('fortune1000.csv', index_col='Rank')
fortune['Sector'] = fortune['Sector'].astype('category')
fortune['Industry'] = fortune['Industry'].astype('category')
fortune.sort_index(inplace= True)
fortune.head()

## The agg Method
- The `agg` method applies different aggregation methods on different columns.
- Invoke the `agg` method directly on the **DataFrameGroupBy** object.
- Pass the method a dictionary where the keys are the columns and the values are the aggregation operations.

In [ ]:
fortune= pd.read_csv('fortune1000.csv', index_col='Rank')
fortune['Sector'] = fortune['Sector'].astype('category')
fortune['Industry'] = fortune['Industry'].astype('category')
fortune.sort_index(inplace= True)
fortune.head()

## Iterating through Groups 
- The **DataFrameGroupBy** object supports the `apply` method (just like a **Series** and a **DataFrame** do).
- The `apply` method invokes a function on every nested **DataFrame** in the **DataFrameGroupBy** object.
- It captures the return values of the functions and collects them in a new **DataFrame** (the return value).

In [ ]:
fortune= pd.read_csv('fortune1000.csv', index_col='Rank')
fortune['Sector'] = fortune['Sector'].astype('category')
fortune['Industry'] = fortune['Industry'].astype('category')
fortune.sort_index(inplace= True)
fortune.head()